body
{
background-color: black;
}

p
{
color: cornsilk;
}

#contener
{
margin-left: auto;
margin-right: auto;
width: 1200px;
}

ul
{
list-style-type: none;
}

a
{
text-decoration: none;
font-size: 20px;
font-family: serif;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: DarkGoldenRod;
}

header
{
margin-top: 20px;
}

nav.glowne_menu ul
{
float: left;
margin-left: 330px;
margin-top: -45px;
}

nav.glowne_menu ul li
{
float: left;
margin: 0 0 0 5 px;
}

nav.glowne_menu ul li a
{
float: left;
padding: 8px 15px 0;
}

nav.menu_akcji
{
margin-top: 50px;
height: 50px;
}

nav.menu_akcji ul li
{
margin-top: 15px;
}

nav.menu_wyszukaj
{
margin-top: 50px;
}

nav.menu_wyszukaj ul li
{
margin-top: 15px;
}

nav.login
{
text-align: center
}

.input
{
width: 100px;
}

li.menu_ustawienia
{
margin-left: 190px;
}

article.ostatnio_dodane
{
width: 850px;
height: 700px;
margin-left: 350px;
margin-top: -200px;
}

article
{
padding-right: 20px;
}

article h1
{
margin-bottom: 50px;
}

article section
{
margin-left: 30px;
}

article section:hover
{
background-color: NavajoWhite;
}

section img
{
margin: 8px;
}

section h3
{
margin-left: 150px;
margin-top: -80px;
}

section p
{
margin-left: 170px;
width: 600px;

}

aside
{
width: 250px;
margin-top: -300px;
height: 400px;
}

aside p
{
margin-left: 15px;
}

footer
{
text-align: center;
}
