<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>MyCollection</title>
      {% load static %}

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->
      <link href="cover.css" rel="stylesheet">
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <!-- Custom styles for this template -->
    <link href="{% static 'mycollection_base/cover.css' %}" rel="stylesheet">
  </head>
  <body class="text-white bg-dark w-100 h-100">

<div class="container d-flex w-100 h-100 p-3 m-auto flex-column" >
  <header class="container-sm mb-auto">
    <div>
      <h3 class="float-md-start mb-0">MyCollection</h3>

    </div>
  </header>
  <main class="w-100 h-100 text-center">

      <div class="row gx-1 text_center w-100 h-100" >
           <div class="w-100 h-100">
        {% block content %}
            {% endblock %}

      </div>

</div>
  </main>
<footer class="text-white-50 text-center">
    <p>Dzięki <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a> :) 2022</p>
  </footer>
</div>

   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  </body>
</html>
