<!-- Plik zawiera formatowanie stron oraz ogólna obsluge. Uzyto Bootstrapa
oraz wlasnych styli css. Opis konkretnych funkcji i stron w pliku vievs.py -->

<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Stanislaw Wolnik">
    <title>MyCollection</title>
      {% load static %}

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->
      <link href="cover.css" rel="stylesheet">
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    
    <!-- Custom styles for this template -->
    <link href="{% static 'mycollection_base/cover.css' %}" rel="stylesheet">
  </head>
  <body class="text-white bg-dark">
    
<div class="container d-flex w-100 h-100 p-3 m-auto flex-column">
  <header class="container-sm mb-auto">
    <div>
      <h3 class="float-md-start mb-0">MyCollection</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Wyloguj</a>
      </nav>

    </div>
  </header>
  <main class="w-100 h-100">

      <div class="row gx-1" >
   <div class="col col-lg-2"> <!--  style="background-color: grey;" -->
    <div class="text-white " style="width: 160px; text-align: left; ">

        <ul class="nav flex-column mt-5">
      <li class="nav-item">
        <a href="{% url 'baza_danych' %}" class="btn btn-dark" style="width: 160px; height: 40px;">

          Muzyka
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="#" class="btn btn-dark" style="width: 160px; height: 40px;">

          Film
        </a>
      </li> -->
            <li class="nav-item">
        <a href="{% url 'dodaj_muzyka' %}" class="btn btn-dark" style="width: 160px; height: 40px;">

          Dodaj album
        </a>
      </li>
     <!-- <li class="nav-item">
        <a href="#" class="btn btn-dark" style="width: 160px; height: 40px;">
          Dodaj film
        </a>
      </li> -->
    </ul>

<div class="form-group text-white flex-column mt-5" style="width: 160px; text-align: left;">
<form action="{% url 'find_api' %}" method="GET" name="szukaj_api">
    <p style="width: 160px;">Szukaj w RapidApi:</p>
    <select class="form-control me-2 mb-2" name="api">
        <option value="wykonawca">Zespół</option>
        <!-- <option value="film">Film</option> -->
    </select>
        <!-- <input type="hidden" name="api" value="wykonawca" /> -->
      <input class="form-control me-2 mb-2" type="search" name="szukaj" placeholder="Search" aria-label="Search" style="width: 160px;">
    <p style="width: 160px;">Podaj klucz RapidApi:</p>
      <input class="form-control me-2" type="search" name="klucz_api" placeholder="Search" aria-label="Search" style="width: 160px;">
    <input type="hidden" name="wlasciciel" value="{{ request.user.id }}" />
    <input class="btn btn-outline-light mt-2" type="submit" value="szukaj" style="width: 160px; height: 40px;">
    </form>
        </div>
  </div>

   </div>

      <div class="col d-inline ml-5">
            <h3 class="mb-5">Witaj! Jesteś zalogowany jako {{ request.user.username }}</h3>

          {% block content %}
            {% endblock %}

      </div>

<footer class="text-white-50 text-center align-self-end">
    <p>Dzięki <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a> :) 2022</p>
  </footer>
      </div>

  </main>

</div>

   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  </body>
</html>
