<!-- Komentarz w pliku vievs.py -->

{% extends 'mycollection_base/baza.html' %}

{% block content %}


{% for item in alb %}

<div class="bg-secondary.bg-gradient card shadow p-3 mb-5 bg-dark rounded" style="width: 40rem;">
    {% load static %}
    <img style="width: 200px; height: 200px; border-color: black;" src="{{ item.okladka }}" class="img-thumbnail rounded" alt="...">
  <div class="card-body" style="margin-left: 220px; margin-top: -200px;">
    <h1 class="card-title" >{{ item.nazwa_zespolu }}</h1>
      <br />
      <h4 class="card-title">{{ item.tytul_albumu }}</h4>
  </div>
    <p class="card-text ml-3" style=" margin-top: 100px;">{{ item.opis }}</p>
  <ul class="list-group list-group-flush bg-dark">
    <li class="list-group-item bg-dark" style="color: white;">Gatunek: {{ item.gatunek }}</li>
    <li class="list-group-item bg-dark"  style="color: white;">Data wydania: {{ item.rok_wydania }}</li>
  </ul>
  <div class="card-body">

      <form action="{% url 'edytuj' %}" method="post" name="edytuj" class="d-inline">{% csrf_token %}
    <input type="hidden" name="wlasciciel" value="{{ request.user.id }}" />
    <input type="hidden" name="nazwa_zespolu" value="{{ item.nazwa_zespolu }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.tytul_albumu }}" />
    <input type="hidden" name="gatunek" value="{{ item.gatunek }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.rok_wydania }}" />
    <input type="hidden" name="opis" value="{{ item.opis }}" />
      <input type="hidden" name="okladka" value="{{ item.okladka }}" />
    <input type="hidden" name="id" value="{{ item.id }}" />
    <input type="submit" class="btn btn-outline-light " value="Edytuj" />
</form>

<form action="{% url 'usun' %}" method="post" name="usun" class="d-inline">{% csrf_token %}
    <input type="hidden" name="wlasciciel" value="{{ request.user.id }}" />
    <input type="hidden" name="nazwa_zespolu" value="{{ item.nazwa_zespolu }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.tytul_albumu }}" />
    <input type="hidden" name="gatunek" value="{{ item.gatunek }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.rok_wydania }}" />
    <input type="hidden" name="opis" value="{{ item.opis }}" />
    <input type="hidden" name="okladka" value="{{ item.okladka }}" />
    <input type="hidden" name="id" value="{{ item.id }}" />
    <input type="submit" class="btn btn-outline-light" value="Usuń" />
</form>

  </div>
</div>

{% endfor %}
{% endblock %}