<!-- Komentarz w pliku vievs.py -->

{% extends 'mycollection_base/baza.html' %}

{% block content %}

 <form action="{% url 'dodaj_muzyka' %}" method="POST" name="add_music_form">
        {% csrf_token %}
      <table class="table table-dark w-50" style="margin-left: 100px">
        <tr>
        <th>Okładka (adres URL):</th> <th><input type="text" name="okladka" value="{{ form.okladka }}" required="required" /></th>
        </tr>
        <tr>
        <th>Zespół: </th><th><input type="text" name="nazwa_zespolu" value="{{ form.nazwa_zespolu }}" required="required" /></th>
        </tr>
        <tr>
        <th>Album: </th> <th><input type="text" name="tytul_albumu" value="{{ form.tytul_albumu }}" required="required" /></th>
        </tr>
        <tr>
        <th>Gatunek: </th> <th><input type="text" name="gatunek" value="{{ form.gatunek }}" required="required" /></th>
        </tr>
        <tr>
        <th>Data wydania: </th> <th><input type="text" name="rok_wydania" value="{{form.rok_wydania }}" required="required" /></th>
        </tr>
        <tr>
        <th>Opis:</th> <th><textarea name="opis" rows="10" cols="23" required="required" >{{ form.opis }}</textarea></th>
        </tr>
        <tr>
        <th><input class="btn btn-outline-warning" type="submit" name="dodaj" value="Dodaj" /></th><th><input type="hidden" name="wlasciciel" value="{{ form.wlasciciel }}" /></th>
        </tr>
        </table>
    </form>

{% endblock %}