<!-- Komentarz w pliku vievs.py -->

{% extends 'mycollection_base/baza.html' %}

{% block content %}
{% for item in api_dict.album %}


<form action="{% url 'dodaj_z_api' %}" method="POST" name="dodaj_api_do_bazy">
    {% csrf_token %}
     <table class="table table-dark w-50" style="margin-left: 100px">
<tr>
    <th class="w-50">{{ item.strAlbum }}</th>
    <th class="w-50"> <input class="btn btn-outline-warning" type="submit" name="zobacz_dodaj" value="Zobacz" /></th>
</tr>
     </table>
    <input type="hidden" name="nazwa_zespolu" value="{{ item.strArtist }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.strAlbum }}" />
    <input type="hidden" name="gatunek" value="{{ item.strGenre }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.intYearReleased }}" />
    <input type="hidden" name="opis" value="{{ item.strDescriptionPL }}" />
    <input type="hidden" name="okladka" value="{{ item.strAlbumThumb }}">
    <input type="hidden" name="wlasciciel" value="{{ user_id }}" />
</form>

{% endfor %}

{% endblock %}
