<!-- Komentarz w pliku vievs.py -->

{% extends 'mycollection_base/base_login.html' %}

{% block content %}
<div >
            <h2>{{ info }}</h2>
           <p><a href="{% url 'login' %}">Zaloguj się</a> aby wejść na stronę :) </p>

</div>
{% endblock %}
