<!-- Komentarz w pliku vievs.py -->

{% extends 'mycollection_base/base_login.html' %}

{% block content %}
<div >
            <h2>Logowanie</h2>

        <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}: <br> {{ field }}</p>
        {% endfor %}
            <input class="btn btn-outline-warning" type="submit" name="submit" value="Zaloguj" />
        </form>
     <br/>
    <p>Nie masz jeszcze konta? <a href="{% url 'register' %}">Zapisz się!</a></p>
</div>
{% endblock %}
