<!-- Po wylogowaniu zwraca komunikat oraz mozliwosc ponownego zalogowania.
Komentarz w pliku vievs.py -->

{% extends 'mycollection_base/base_login.html' %}

{% block content %}
<div >
            <h2>Jesteś wylogowany</h2>
            <br />
            <a href="{% url 'login' %}">Zaloguj się ponownie</a>


</div>
{% endblock %}
