{% extends 'mycollection_base/base_login.html' %}

{% block content %}

<h3>Zarejestruj się</h3>



<form action="" method="POST">
    {% csrf_token %}

    {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p>

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}
    <button class="btn btn-outline-warning" type="submit">Rejestracja</button>
</form>

{% endblock %}
