{% extends 'mycollection_base/baza.html' %}

{% block content %}

<div>
<form action="" method="get" name="usun">
    <p>Czy na pewno chcesz usunąć ten album?</p>
    <br />
    <img src="{{ form.okladka }}" class="img-thumbnail mb-5" style="width: 200px; height: 200px;"/>
    <p>Zespół: {{ form.nazwa_zespolu }}</p>
    <p>Album: {{ form.tytul_albumu }}</p>
    <br />
    <input type="hidden" name="id" value="{{ form.id }}" />
    <input type="hidden" name="wlasciciel" value="{{ request.user.id }}" />
    <p><input type="radio" name="decision" value="tak" /> Tak, usuń</p>
    <p><input type="radio" name="decision" value="nie" /> Nie, nie usuwaj</p>
    <p><input class="btn btn-outline-warning" type="submit" name="decyzja" value="Potwierdź"></p>
</form>
</div>

{% endblock %}