<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCollection - Start</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'mycollection_base/style.css' %}">

</head>
<body>
<div id="contener">
    {% load static %}
    <header><img src="{% static 'mycollection_base/logo.png' %}" alt="logo" /></header>

    <nav class="login">

        {% block content %}
            {% endblock %}

    </nav>

    <footer><p>Copyright 2022</p></footer>
</div>
</body>
</html>