<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCollection.com</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'mycollection_base/style.css' %}" />
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
-->
</head>
<body>
    <div id="contener">

    {% load static %}
    <header><img src="{% static 'mycollection_base/logo.png' %}" alt="logo" /></header>

<nav class="glowne_menu">
    <ul>
          <li><a href="{% url 'baza_danych' %}">Home</a></li>
          <li><a href="#">Książka</a></li>
          <li><a href="#">Film</a></li>
          <li><a href="{% url 'baza_danych' %}">Muzyka</a></li>
          <li class="menu_ustawienia"><a href="#">-</a></li>
          <li><a href="{% url 'login' %}">Wyloguj</a></li>
    </ul>
</nav>

<nav class="menu_wyszukaj">
        <form action="{% url 'find_api' %}" method="GET" name="szukaj_api">
        <ul>
            <li><p>Szukaj online</p></li>
            <li><select name="api">
                <option value="wykonawca">Wykonawca</option>
                <!--<option value="album">Album</option>-->
            </select></li>
            <li><input type="text" name="szukaj" /></li>
            <li><p>Podaj klucz RapidAPI</p></li>
            <li><input type="text" name="klucz_api" /></li>
            <li><input type="submit" name="submit_api" value="Szukaj"></li>
        </ul>
        </form>
</nav>

    <nav class="menu_akcji">
        <ul>
              <li><a href="{% url 'dodaj_muzyka' %}">Dodaj album</a></li>
                <li><a href="#">Dodaj Film</a></li>
              <li><a href="#">Dodaj książkę</a></li>
        </ul>
    </nav>

<article class="ostatnio_dodane">

    {% block content %}
    {% endblock %}

</article>

<aside>
    <hr />
    <p>Jakiś dodatkowy content</p>
</aside>

        <footer><p>Copyright 2022</p></footer>
    </div>
</body>
</html>