{% extends 'mycollection_base/baza.html' %}

{% block content %}


{% for item in alb %}

<div class="card shadow p-3 mb-5 rounded" style="width: 40rem;">
    {% load static %}
    <img style="width: 200px; height: 200px; border-color: black;" src="{% static 'mycollection_base/okladka.jpg' %}" class="img-thumbnail rounded" alt="...">
  <div class="card-body" style="margin-left: 220px; margin-top: -200px;">
    <h1 class="card-title" style="color: black; ">{{ item.nazwa_zespolu }}</h1>
      <br />
      <h4 class="card-title" style="color: black;">{{ item.tytul_albumu }}</h4>
  </div>
    <p class="card-text ml-3" style="color: black; margin-top: 100px;">{{ item.opis }}</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Gatunek: {{ item.gatunek }}</li>
    <li class="list-group-item">Data wydania: {{ item.rok_wydania }}</li>
  </ul>
  <div class="card-body">

      <form action="{% url 'edytuj' %}" method="post" name="edytuj" class="d-inline">{% csrf_token %}
    <input type="hidden" name="nazwa_zespolu" value="{{ item.nazwa_zespolu }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.tytul_albumu }}" />
    <input type="hidden" name="gatunek" value="{{ item.gatunek }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.rok_wydania }}" />
    <input type="hidden" name="opis" value="{{ item.opis }}" />
    <input type="hidden" name="id" value="{{ item.id }}" />
    <input type="submit" class="btn btn-outline-dark " value="Edytuj" />
</form>

<form action="{% url 'usun' %}" method="post" name="usun" class="d-inline">{% csrf_token %}
    <input type="hidden" name="nazwa_zespolu" value="{{ item.nazwa_zespolu }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.tytul_albumu }}" />
    <input type="hidden" name="gatunek" value="{{ item.gatunek }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.rok_wydania }}" />
    <input type="hidden" name="opis" value="{{ item.opis }}" />
    <input type="hidden" name="id" value="{{ item.id }}" />
    <input type="submit" class="btn btn-outline-dark" value="Usuń" />
</form>

    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
<!-- <p>ID: {{ item.id }}</p>
<p>Zespół: {{ item.nazwa_zespolu }}</p>
<p>Album: {{ item.tytul_albumu }}</p>
<p>Gatunek: {{ item.gatunek }}</p>
<p>Data wydania: {{ item.rok_wydania }}</p>
<p>{{ item.opis }}</p>

<form action="{% url 'edytuj' %}" method="post" name="edytuj">{% csrf_token %}
    <input type="hidden" name="nazwa_zespolu" value="{{ item.nazwa_zespolu }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.tytul_albumu }}" />
    <input type="hidden" name="gatunek" value="{{ item.gatunek }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.rok_wydania }}" />
    <input type="hidden" name="opis" value="{{ item.opis }}" />
    <input type="hidden" name="id" value="{{ item.id }}" />
    <input type="submit"  value="Edytuj" />
</form>
<br />
<form action="{% url 'usun' %}" method="post" name="usun">{% csrf_token %}
    <input type="hidden" name="nazwa_zespolu" value="{{ item.nazwa_zespolu }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.tytul_albumu }}" />
    <input type="hidden" name="gatunek" value="{{ item.gatunek }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.rok_wydania }}" />
    <input type="hidden" name="opis" value="{{ item.opis }}" />
    <input type="hidden" name="id" value="{{ item.id }}" />
    <input type="submit"  value="Usuń" />
</form> -->
{% endfor %}
{% endblock %}