{% extends 'mycollection_base/baza.html' %}

{% block content %}

 <form action="{% url 'dodaj_muzyka' %}" method="POST" name="add_music_form">
        {% csrf_token %}


        <p>Zespół: <input type="text" name="nazwa_zespolu" value="{{ form.nazwa_zespolu }}" /></p>
        <p>Album:  <input type="text" name="tytul_albumu" value="{{ form.tytul_albumu }}" /></p>
        <p>Gatunek:  <input type="text" name="gatunek" value="{{ form.gatunek }}" /></p>
        <p>Data wydania:  <input type="text" name="rok_wydania" value="{{form.rok_wydania }}" /></p>
        <p>Opis: </p><textarea name="opis" rows="20" cols="30">{{ form.opis }} </textarea>


     <p><input type="submit" name="dodaj_do_api" value="Dodaj" /></p>
    </form>

{% endblock %}