{% extends 'mycollection_base/baza.html' %}

{% block content %}

 <form action="" method="get" name="add_music_form">
        {% csrf_token %}

        <input type="hidden" name="id" value="{{ form.id }}" />
        <p>Zespół: <input type="text" name="nazwa_zespolu" value="{{ form.nazwa_zespolu }}" /></p>
        <p>Album:  <input type="text" name="tytul_albumu" value="{{ form.tytul_albumu }}" /></p>
        <p>Gatunek:  <input type="text" name="gatunek" value="{{ form.gatunek }}" /></p>
        <p>Data wydania:  <input type="text" name="rok_wydania" value="{{form.rok_wydania }}" /></p>
        <p>Opis: </p><textarea name="opis" rows="20" cols="30">{{ form.opis }} </textarea>


     <p><input type="submit" name="zmien" value="Zmień" /></p>
    </form>

<!-- <form action="" method="get">
    {% csrf_token %}

    {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{ field}}</p>

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Zmień</button>
</form> -->


{% endblock %}


<!--
<form action="{% url 'edytuj' %}" method="post" name="edytuj">{% csrf_token %}
    <input type="hidden" name="nazwa_zespolu" value="{{ item.nazwa_zespolu }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.tytul_albumu }}" />
    <input type="hidden" name="gatunek" value="{{ item.gatunek }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.rok_wydania }}" />
    <input type="hidden" name="opis" value="{{ item.opis }}" />
    <input type="hidden" name="id" value="{{ item.id }}" />
    <input type="submit"  value="Edytuj" />

-->