{% extends 'mycollection_base/baza.html' %}

{% block content %}
{% for item in api_dict.album %}
<form action="{% url 'dodaj_z_api' %}" method="POST" name="dodaj_api_do_bazy">
    {% csrf_token %}
<p>{{ item.strAlbum }} <input type="submit" name="zobacz_dodaj" value="Zobacz" /></p>
    <input type="hidden" name="nazwa_zespolu" value="{{ item.strArtist }}" />
    <input type="hidden" name="tytul_albumu" value="{{ item.strAlbum }}" />
    <input type="hidden" name="gatunek" value="{{ item.strGenre }}" />
    <input type="hidden" name="rok_wydania" value="{{ item.intYearReleased }}" />
    <input type="hidden" name="opis" value="{{ item.strDescriptionPL }}" />
</form>
{% endfor %}

{% endblock %}


<!-- {% url 'find_api' %} {% url 'dodaj_muzyka' %} -->