{% extends 'mycollection_base/base_login.html' %}

{% block content %}

        <h2>Logowanie</h2>

        <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}: <br> {{ field }}</p>
        {% endfor %}
            <input type="submit" name="submit" value="Zaloguj" />
        </form>
    <p>Nie masz jeszcze konta? <a href="{% url 'register' %}">Zapisz się!</a></p>

{% endblock %}
