{% extends 'mycollection_base/baza.html' %}

{% block content %}

<form action="" method="get" name="usun">
    <p>Czy na pewno chcesz usunąć ten album?</p>
    <br />
    <p>ID: {{ form.id }}</p>
    <p>Zespół: {{ form.nazwa_zespolu }}</p>
    <p>Album: {{ form.tytul_albumu }}</p>
    <br />
    <input type="hidden" name="id" value="{{ form.id }}" />
    <p><input type="radio" name="decision" value="tak" /> Tak, usuń</p>
    <p><input type="radio" name="decision" value="nie" /> Nie, nie usuwaj</p>
    <p><input type="submit" name="decyzja" value="Potwierdź"></p>
</form>

{% endblock %}