<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCollection</title>
    <!-- {% load static %} -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <!-- Content here -->
     <!-- {% load static %} -->
    <header><img src="logo.png" class="img-fluid" alt="logo" /></header>
   <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <ul>
          <li><a href="{% url 'baza_danych' %}">Home</a></li>
          <li><a href="#">Książka</a></li>
          <li><a href="#">Film</a></li>
          <li><a href="{% url 'baza_danych' %}">Muzyka</a></li>
          <li><a href="{% url 'login' %}">Wyloguj</a></li>
    </ul>
</nav>
    <h1>Hello, world!</h1>
</div>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>